.navwrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 4em 15em;
}

.nav__title {
    color: var(--primary-blue);
    font-size: 45px;
    font-weight: 900;
}

.nav__title > span {
    color: var(--primary-white);
    font-size: 45px;
}


.menu__bear {
    margin-top: 2.5em;
}

.burrlogo:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s all ease-in-out;
}

.navwrap > div > img {
    height: 75px;
    width: 75px;
}