.cardwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
  }
  
  .card {
    width: 379px;
    height: 257px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 1em;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
  }

  .cardspc {
    transition: all 0.1s ease-in-out;
  }
  
  .cardbtm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 9em;
  }
  
  .cardbtm > p {
    font-size: 16px;
    font-weight: 900;
    color: var(--primary-white);
    margin: 0;
  }
  
  .cardtop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }
  
  .cardtop > h3 {
    font-size: 36px;
    font-weight: 900;
    color: var(--primary-white);
  }
  
  .cardtop > p {
    color: white;
    font-size: 20px;
    font-weight: 400;
  }
  
  .cardwrap > .card:nth-child(1) {
    background-color: #FFB13B;
  }
  
  .cardwrap > .card:nth-child(2) {
    background-color: #4CB4FF;
  }
  
  .cardwrap > .card:nth-child(3) {
    background-color: #39E454;
  }

  .card:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }
  

  .cardspc:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }
  
  

