.intro {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-blue);
    width: 100%;
    height: 35%;
    gap: 15em
  }
  
  .iwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 3em 5.5em;
    gap: 1em;
  }
  
  .ititle {
    color: var(--primary-white);
    font-size: 36px;
    font-weight: 900;
  }
  
  .itxt {
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4em;
  }
  
  .ibob {
    animation-name: floating;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 7.5px); }
    100%   { transform: translate(0, -0px); }   
  }